.table{
  font-size: 14px;
}
.cont-dashboard{
	padding: 0 3%;
}
.menu-active{
	background: #34495e;
	color: #FFF;
}
.menu-active:hover{
	background: #2c3e50;
	color: #FFF;
}
.parent-pesanan{
	position: absolute;
	right: 20px;
}
.child-pesanan{
	display: none;
}
.child-pesanan-collapse{
	display: block;
}
.btn-save-ongkir{
	background: green;
	color: #FFF;
	font-size: 20px;
	padding: 0px 5px 2px 5px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.judul-item{
	width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#image-preview{
  max-width:280px;
  display:block;
  margin-bottom: 20px;
}
#img-preview{
  max-width:280px;
  display:block;
  margin-bottom: 20px;
}
/*-- LOGIN / DAFTAR SECTION --*/
.logo-daftar-login{
	margin: 50px 0;
}
.logo-daftar-login a{
	text-decoration: none;
	color: black;

}
.form-daftar{
	margin-top: 20px;
}
.box-registrasi-login{
	width: 350px;
	padding: 25px;
	border-radius: 8px;
}
.box-dashboard{
	margin-bottom: 20px;
}
.box-dashboard-resume{
	margin: 20px 0;
}
.box-dashboard-inside{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 20px;
	background: white;
	position: relative;
}
.box-inside-resume{
	padding: 5% 10%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	text-align: right;
	background: white;
}
.box-inside-resume p{
	padding: 0;
	margin: 0;
	margin-top: 10px;
}
.img-box-resume{
	padding: 10%;
}
.canvas-cart{
	max-height: 400px;
}
.btn-print{
	position: absolute;
	top: 15px;
	right: 15px;
}